@keyframes ldio-civf9robhs5 {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
.ldio-civf9robhs5 div {
    left: 98px;
    top: 60px;
    position: absolute;
    animation: ldio-civf9robhs5 linear 1s infinite;
    background: #f47e60;
    width: 4px;
    height: 12px;
    border-radius: 2px / 2.7600000000000002px;
    transform-origin: 2px 40px;
}.ldio-civf9robhs5 div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -0.9655172413793104s;
     background: #f47e60;
 }.ldio-civf9robhs5 div:nth-child(2) {
      transform: rotate(12.413793103448276deg);
      animation-delay: -0.9310344827586207s;
      background: #f47e60;
  }.ldio-civf9robhs5 div:nth-child(3) {
       transform: rotate(24.82758620689655deg);
       animation-delay: -0.896551724137931s;
       background: #f47e60;
   }.ldio-civf9robhs5 div:nth-child(4) {
        transform: rotate(37.241379310344826deg);
        animation-delay: -0.8620689655172413s;
        background: #f47e60;
    }.ldio-civf9robhs5 div:nth-child(5) {
         transform: rotate(49.6551724137931deg);
         animation-delay: -0.8275862068965517s;
         background: #f47e60;
     }.ldio-civf9robhs5 div:nth-child(6) {
          transform: rotate(62.06896551724138deg);
          animation-delay: -0.7931034482758621s;
          background: #f47e60;
      }.ldio-civf9robhs5 div:nth-child(7) {
           transform: rotate(74.48275862068965deg);
           animation-delay: -0.7586206896551724s;
           background: #f47e60;
       }.ldio-civf9robhs5 div:nth-child(8) {
            transform: rotate(86.89655172413794deg);
            animation-delay: -0.7241379310344828s;
            background: #f47e60;
        }.ldio-civf9robhs5 div:nth-child(9) {
             transform: rotate(99.3103448275862deg);
             animation-delay: -0.6896551724137931s;
             background: #f47e60;
         }.ldio-civf9robhs5 div:nth-child(10) {
              transform: rotate(111.72413793103448deg);
              animation-delay: -0.6551724137931034s;
              background: #f47e60;
          }.ldio-civf9robhs5 div:nth-child(11) {
               transform: rotate(124.13793103448276deg);
               animation-delay: -0.6206896551724138s;
               background: #f47e60;
           }.ldio-civf9robhs5 div:nth-child(12) {
                transform: rotate(136.55172413793105deg);
                animation-delay: -0.5862068965517241s;
                background: #f47e60;
            }.ldio-civf9robhs5 div:nth-child(13) {
                 transform: rotate(148.9655172413793deg);
                 animation-delay: -0.5517241379310345s;
                 background: #f47e60;
             }.ldio-civf9robhs5 div:nth-child(14) {
                  transform: rotate(161.3793103448276deg);
                  animation-delay: -0.5172413793103449s;
                  background: #f47e60;
              }.ldio-civf9robhs5 div:nth-child(15) {
                   transform: rotate(173.79310344827587deg);
                   animation-delay: -0.4827586206896552s;
                   background: #f47e60;
               }.ldio-civf9robhs5 div:nth-child(16) {
                    transform: rotate(186.20689655172413deg);
                    animation-delay: -0.4482758620689655s;
                    background: #f47e60;
                }.ldio-civf9robhs5 div:nth-child(17) {
                     transform: rotate(198.6206896551724deg);
                     animation-delay: -0.41379310344827586s;
                     background: #f47e60;
                 }.ldio-civf9robhs5 div:nth-child(18) {
                      transform: rotate(211.0344827586207deg);
                      animation-delay: -0.3793103448275862s;
                      background: #f47e60;
                  }.ldio-civf9robhs5 div:nth-child(19) {
                       transform: rotate(223.44827586206895deg);
                       animation-delay: -0.3448275862068966s;
                       background: #f47e60;
                   }.ldio-civf9robhs5 div:nth-child(20) {
                        transform: rotate(235.86206896551724deg);
                        animation-delay: -0.3103448275862069s;
                        background: #f47e60;
                    }.ldio-civf9robhs5 div:nth-child(21) {
                         transform: rotate(248.27586206896552deg);
                         animation-delay: -0.27586206896551724s;
                         background: #f47e60;
                     }.ldio-civf9robhs5 div:nth-child(22) {
                          transform: rotate(260.6896551724138deg);
                          animation-delay: -0.2413793103448276s;
                          background: #f47e60;
                      }.ldio-civf9robhs5 div:nth-child(23) {
                           transform: rotate(273.1034482758621deg);
                           animation-delay: -0.20689655172413793s;
                           background: #f47e60;
                       }.ldio-civf9robhs5 div:nth-child(24) {
                            transform: rotate(285.51724137931035deg);
                            animation-delay: -0.1724137931034483s;
                            background: #f47e60;
                        }.ldio-civf9robhs5 div:nth-child(25) {
                             transform: rotate(297.9310344827586deg);
                             animation-delay: -0.13793103448275862s;
                             background: #f47e60;
                         }.ldio-civf9robhs5 div:nth-child(26) {
                              transform: rotate(310.3448275862069deg);
                              animation-delay: -0.10344827586206896s;
                              background: #f47e60;
                          }.ldio-civf9robhs5 div:nth-child(27) {
                               transform: rotate(322.7586206896552deg);
                               animation-delay: -0.06896551724137931s;
                               background: #f47e60;
                           }.ldio-civf9robhs5 div:nth-child(28) {
                                transform: rotate(335.17241379310343deg);
                                animation-delay: -0.034482758620689655s;
                                background: #f47e60;
                            }.ldio-civf9robhs5 div:nth-child(29) {
                                 transform: rotate(347.58620689655174deg);
                                 animation-delay: 0s;
                                 background: #f47e60;
                             }
.loadingio-spinner-spinner-4yd91redhvy {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: rgba(NaN, NaN, NaN, 0);
}
.ldio-civf9robhs5 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-civf9robhs5 div { box-sizing: content-box; }